@skeleton-prefix-cls: ~'@{vts-prefix}-skeleton';
.@{card-prefix-cls} {
  &-rtl {
    .@{skeleton-prefix-cls}-header {
      padding: 0 0 0 @card-head-padding;
    }
  }
}

vts-card {
  display: block;
}
vts-card-meta {
  display: block;
}
vts-card-loading {
  display: block;
}

.@{card-prefix-cls}-cover-fluid {
  &-body {
    padding: 0;

    &-meta {
      padding: @card-padding-base @card-padding-base 1em @card-padding-base;
    }

    &-cover > img {
      border-radius: 0;
    }
  }

  &-actions li {
    padding-top: @card-padding-base;
    text-align: left;
  }
}
